// ------------------------------------------------------------
// Type

// :: Typography
// :: Links
// :: Headings
// :: Lists
// :: Rare Stuff
// :: Print
// ------------------------------------------------------------


// ------------------------------------------------------------
// :: Typography
// ------------------------------------------------------------

p { margin-bottom: $base-margin; }

em, dfn { font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: $base-margin 0;
}


blockquote {
  border-left: 3px solid #eee;
  margin: $gamma 0;
  padding: $eta;
  p     { margin-bottom: 0; }
  p + p { margin-top: $base-margin;}
}


// ------------------------------------------------------------
// :: Links
// ------------------------------------------------------------

a {
  text-decoration: none;
  transition: color .4s;
  color: $color-primary;

  &:visited { color: $color-primary; }
  &:hover   { color: lighten($color-primary, 10); }
  &:active  { transition: color .3s; color: lighten($color-primary, 10); }
}



// ------------------------------------------------------------
// :: Headings
// ------------------------------------------------------------

$heading-font-weight   : 300;
$heading-margin-bottom : 24px;

$h1-font-size     : 36px;
$h1-line-height   : 48px;

$h2-font-size     : 30px;
$h2-line-height   : $h1-line-height;

$h3-font-size     : 24px;
$h3-line-height   : 36px;

$h4-font-size     : 20px;
$h4-line-height   : 24px;

$h5-font-size     : 16px;
$h5-line-height   : $h4-line-height;

$h6-font-size     : 12px;
$h6-line-height   : $h4-line-height;
$h6-font-weight   : bold;

h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  font-family: $font-family;
  margin-bottom: $heading-margin-bottom;
}

h1 { font-size: $h1-font-size; line-height: $h1-line-height; margin-bottom: 48px; }
h2 { font-size: $h2-font-size; line-height: $h2-line-height; margin-bottom: 24px; margin-top: 60px; }
h3 { font-size: $h3-font-size; line-height: $h3-line-height; margin-top: 50px; }
h4 { font-size: $h4-font-size; line-height: $h4-line-height; margin-top: 40px; }
h5 { font-size: $h5-font-size; line-height: $h5-line-height; margin-bottom: 10px; margin-top: 35px; }
h6 { font-size: $h6-font-size; line-height: $h6-line-height; margin-bottom: 10px; margin-top: 25px; }


.browsehappy {
  background: #ccc;
  color: black;
  padding: 0.5rem 0;
  position: absolute;
  top: 64px;
  width: 100%;
  text-align: center;
  z-index: 1;
}


// ------------------------------------------------------------
// :: Lists
// ------------------------------------------------------------
ul, ol { margin: 0 0 $base-margin $base-margin; }
ul { list-style-type: circle; }
ol { list-style-type: decimal; }

dl { margin: 0 0 $base-margin 0; }
dl dt { font-weight: bold; }
dl dd { margin-left: $base-margin; margin-bottom: $base-margin; }





// ------------------------------------------------------------
// :: Rare Stuff
// ------------------------------------------------------------
$rare-stuff: false;

@if ( $rare-stuff )
{
  abbr, acronym { border-bottom: 1px dotted #000; }
  address       { margin-top: rem($base-margin); font-style: italic; }
  del           { color: #000; }
  dfn           { font-weight: bold; }
  pre, code     { margin: rem($base-margin) 0; white-space: pre; }
  pre, code, tt { font: rem($zeta) monospace; line-height: 1.5; }
  tt            { display: block; margin: rem($base-margin) 0; line-height: 1.5; }
}



// ------------------------------------------------------------
// :: Print
// ------------------------------------------------------------

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}